body {
	font-family: 'Open Sans', sans-serif;
}

.topnav {
	padding: 20px 0px;
	text-align: right;
}

/* Targets just <a> tags inside of the <nav class="topnav"> */
.topnav a {
	text-decoration: none;
	color: black;
	padding: 10px;
	font-weight: 600;
}

/* Targets just <a> tags inside of the <nav class="topnav">,
   when mouse is hovering over it: 
*/
.topnav a:hover {
	text-decoration: none;
	color: yellow;
	background-color: black;
}

header {

}

footer {
	border-top: 1px solid black;
	margin-top: 40px; 
	clear: both;
}
a{
	font-size: 10px;

}
h1{
	text-align: left;
	margin-left: 5%;
}

.homepg {
	margin-left: 24%;
}

p {
	font-family: 'Shrikhand', cursive;
}
.white {
	color: black;
}

.marvel {
	margin-left: 15%;
}
.list1
    {
        color: black;
        font-weight: 700;
        float:left;
        font-family: 'Source Sans Pro';
        width: 45%;
        margin-left: 5%;
        padding: 0;
        list-style-type: none
    }

.list2 {
        color: black;
        font-weight: 700;
        float:left;
        font-family: 'Source Sans Pro';
        width: 45%;
        padding: 0;
        list-style-type: none
}

.dc {
	margin-left: 25%;
}